@import "variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 0.3s linear;
	font-family: $primary-font;
	// overflow-x: hidden;
	// border: 1px solid gray;
}

body {
	background-color: $secondary-color;
	color: #142141;
}
