@import "variables";
@import "animations";

@mixin card() {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	border-radius: 25px;
	&:hover {
		// background-image: none;
		background-color: $primary-color;
	}
	&:hover::after {
		@include userHover();
	}
}
.showcase {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
	grid-auto-rows: auto;
	gap: 30px;
	// padding: 0 5px;
	place-items: center;
	.showcase-item {
		border-radius: 25px;
		display: grid;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
			rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
			rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
		place-items: center;
		position: relative;
		color: white;
		padding: 0 10px;
		text-shadow: 0px -6px 0 #212121, 0px -6px 0 #212121, 0px 6px 0 #212121,
			0px 6px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121;

		cursor: pointer;
		width: 375px;
		height: 500px;
		.title {
			// position: absolute;
			// top: 10px;
			display: none;
			font-weight: map-get($font-weights, medium);
		}
		.showcase-h1 {
			text-align: center;
		}
		.hover-h1 {
			display: none;
			text-align: center;
		}
		&:hover {
			.title {
				display: none;
			}
			.showcase-h1 {
				display: none;
			}
			.hover-h1 {
				position: absolute;

				display: block;
				z-index: 2;
			}
		}
	}
	.item1 {
		@include card();
		background-image: url("../assets/min/0s-min.png");
		&::after {
			@include user("0u-min");
		}
	}
	.item2 {
		@include card();
		background-image: url("../assets/min/1s-min.png");
		&::after {
			@include user("1u-min");
		}
	}
	.item3 {
		@include card();
		background-image: url("../assets/min/2s-min.png");
		&::after {
			@include user("2u-min");
		}
	}
	.item4 {
		@include card();
		background-image: url("../assets/min/3s-min.png");
		&::after {
			@include user("3u-min");
		}
	}
	.item5 {
		@include card();
		background-image: url("../assets/min/4s-min.png");
		&::after {
			@include user("4u-min");
		}
	}
	.item6 {
		@include card();
		background-image: url("../assets/min/5s-min.png");
		&::after {
			@include user("5u-min");
		}
	}
	.item7 {
		@include card();
		background-image: url("../assets/min/6s-min.png");
		&::after {
			@include user("6u-min");
		}
	}
	.item8 {
		@include card();
		background-image: url("../assets/min/7s-min.png");
		&::after {
			@include user("7u-min");
		}
	}
	.item9 {
		@include card();
		background-image: url("../assets/min/8s-min.png");
		&::after {
			@include user("8u-min");
		}
	}
	.item10 {
		@include card();
		background-image: url("../assets/min/9s-min.png");
		&::after {
			@include user("9u-min");
		}
	}
	.item11 {
		@include card();
		background-image: url("../assets/min/10s-min.png");
		&::after {
			@include user("10u-min");
		}
	}
	.item12 {
		@include card();
		background-image: url("../assets/min/11s-min.png");
		&::after {
			@include user("11u-min");
		}
	}
	.item13 {
		@include card();
		background-image: url("../assets/min/12s-min.png");
		&::after {
			@include user("12u-min");
		}
	}
	.item14 {
		@include card();
		background-image: url("../assets/min/13s-min.png");
		&::after {
			@include user("13u-min");
		}
	}
	.item15 {
		@include card();
		background-image: url("../assets/min/14s-min.png");
		&::after {
			@include user("14u-min");
		}
	}
	.item16 {
		@include card();
		background-image: url("../assets/min/15s-min.png");
		&::after {
			@include user("15u-min");
		}
	}
	.item17 {
		@include card();
		background-image: url("../assets/min/16s-min.png");
		&::after {
			@include user("16u-min");
		}
	}
	.item18 {
		@include card();
		background-image: url("../assets/min/17s-min.png");
		&::after {
			@include user("17u-min");
		}
	}
	.item19 {
		@include card();
		background-image: url("../assets/min/18s-min.png");
		&::after {
			@include user("18u-min");
		}
	}
	.item20 {
		@include card();
		background-image: url("../assets/min/19s-min.png");
		&::after {
			@include user("19u-min");
		}
	}
	.item21 {
		@include card();
		background-image: url("../assets/min/20s-min.png");
		&::after {
			@include user("20u-min");
		}
	}
	.item22 {
		@include card();
		background-image: url("../assets/min/21s-min.png");
		&::after {
			@include user("21u-min");
		}
	}
}
