@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #ffd24e;
  color: #142141;
}

.grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "nav nav nav nav" "hero hero hero hero" "video video video video" "showcase showcase showcase showcase" "download download download download" "footer footer footer footer";
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 70px minmax(100px, 90vh) minmax(500px, 900px) 3fr 80px minmax(100px, 20vh);
      grid-template-rows: 70px minmax(100px, 90vh) minmax(500px, 900px) 3fr 80px minmax(100px, 20vh);
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: nav;
}

.hero {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: hero;
}

.video {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: video;
}

.showcase {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: showcase;
}

.download {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: download;
}

footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
}

nav a::after, nav .log-in::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #ffd24e;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

nav a:hover::after, nav .log-in:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav a::after, nav .log-in::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #ffd24e;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

nav a:hover::after, nav .log-in:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.showcase {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(375px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  grid-auto-rows: auto;
  gap: 30px;
  place-items: center;
}

.showcase .showcase-item {
  border-radius: 25px;
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  place-items: center;
  position: relative;
  color: white;
  padding: 0 10px;
  text-shadow: 0px -6px 0 #212121, 0px -6px 0 #212121, 0px 6px 0 #212121, 0px 6px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121;
  cursor: pointer;
  width: 375px;
  height: 500px;
}

.showcase .showcase-item .title {
  display: none;
  font-weight: 500;
}

.showcase .showcase-item .showcase-h1 {
  text-align: center;
}

.showcase .showcase-item .hover-h1 {
  display: none;
  text-align: center;
}

.showcase .showcase-item:hover .title {
  display: none;
}

.showcase .showcase-item:hover .showcase-h1 {
  display: none;
}

.showcase .showcase-item:hover .hover-h1 {
  position: absolute;
  display: block;
  z-index: 2;
}

.showcase .item1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/0s-min.png");
}

.showcase .item1:hover {
  background-color: #2b3838;
}

.showcase .item1:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/0u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/1s-min.png");
}

.showcase .item2:hover {
  background-color: #2b3838;
}

.showcase .item2:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/1u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/2s-min.png");
}

.showcase .item3:hover {
  background-color: #2b3838;
}

.showcase .item3:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/2u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item4 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/3s-min.png");
}

.showcase .item4:hover {
  background-color: #2b3838;
}

.showcase .item4:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item4::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/3u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item5 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/4s-min.png");
}

.showcase .item5:hover {
  background-color: #2b3838;
}

.showcase .item5:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item5::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/4u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item6 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/5s-min.png");
}

.showcase .item6:hover {
  background-color: #2b3838;
}

.showcase .item6:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item6::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/5u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item7 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/6s-min.png");
}

.showcase .item7:hover {
  background-color: #2b3838;
}

.showcase .item7:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item7::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/6u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item8 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/7s-min.png");
}

.showcase .item8:hover {
  background-color: #2b3838;
}

.showcase .item8:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item8::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/7u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item9 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/8s-min.png");
}

.showcase .item9:hover {
  background-color: #2b3838;
}

.showcase .item9:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item9::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/8u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item10 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/9s-min.png");
}

.showcase .item10:hover {
  background-color: #2b3838;
}

.showcase .item10:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item10::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/9u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item11 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/10s-min.png");
}

.showcase .item11:hover {
  background-color: #2b3838;
}

.showcase .item11:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item11::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/10u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item12 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/11s-min.png");
}

.showcase .item12:hover {
  background-color: #2b3838;
}

.showcase .item12:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item12::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/11u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item13 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/12s-min.png");
}

.showcase .item13:hover {
  background-color: #2b3838;
}

.showcase .item13:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item13::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/12u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item14 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/13s-min.png");
}

.showcase .item14:hover {
  background-color: #2b3838;
}

.showcase .item14:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item14::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/13u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item15 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/14s-min.png");
}

.showcase .item15:hover {
  background-color: #2b3838;
}

.showcase .item15:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item15::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/14u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item16 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/15s-min.png");
}

.showcase .item16:hover {
  background-color: #2b3838;
}

.showcase .item16:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item16::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/15u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item17 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/16s-min.png");
}

.showcase .item17:hover {
  background-color: #2b3838;
}

.showcase .item17:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item17::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/16u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item18 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/17s-min.png");
}

.showcase .item18:hover {
  background-color: #2b3838;
}

.showcase .item18:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item18::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/17u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item19 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/18s-min.png");
}

.showcase .item19:hover {
  background-color: #2b3838;
}

.showcase .item19:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item19::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/18u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item20 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/19s-min.png");
}

.showcase .item20:hover {
  background-color: #2b3838;
}

.showcase .item20:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item20::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/19u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item21 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/20s-min.png");
}

.showcase .item21:hover {
  background-color: #2b3838;
}

.showcase .item21:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item21::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/20u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

.showcase .item22 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border-radius: 25px;
  background-image: url("../assets/min/21s-min.png");
}

.showcase .item22:hover {
  background-color: #2b3838;
}

.showcase .item22:hover::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 1;
}

.showcase .item22::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/min/21u-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  border-radius: 25px;
}

/* SASS DIRECTORY
	1. =NAV
	2. =HERO
	3. =VIDEO
	4. =SHOWCASE
	5. =DOWNLOAD
	6. =FOOTER
	7. =MEDIA-QUERY
*/
/* ===NAV=== */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2b3838;
  background: #ffd24e;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  border-bottom: 1px dotted transparent;
}

nav .brand {
  margin-left: 20px;
  cursor: pointer;
}

nav .nav-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 500px;
}

nav .nav-lists .nav-items a {
  color: #2b3838;
  text-decoration: none;
  font-weight: 400;
  position: relative;
}

nav .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  width: 150px;
}

nav .account .log-in {
  cursor: pointer;
  position: relative;
}

nav .account .sign-up {
  border: 2px solid #2b3838;
  border-radius: 15px;
  padding: 0.3em 0.6em;
  cursor: pointer;
}

nav .account .sign-up:hover {
  background-color: #ffd24e;
  color: #2b3838;
}

nav:hover {
  background-color: #2b3838 !important;
  color: #ffd24e;
}

nav:hover .nav-items a {
  color: #ffd24e;
}

nav:hover .sign-up {
  border-color: #ffd24e;
}

/* ===HERO=== */
.hero {
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #2b3838;
  line-height: 30px;
}

.hero .hero-content {
  text-align: center;
  max-width: 900px;
}

.hero .hero-content .hero-title {
  margin: 20px;
  font-size: 3rem;
}

.hero .hero-content .hero-sub-title {
  margin: 20px;
  font-size: 2rem;
  font-weight: 500;
}

.hero .hero-content .cta {
  margin: 20px;
}

.hero .hero-content .cta a {
  color: #2b3838;
}

.hero .hero-content .dog {
  position: absolute;
  left: 5px;
  width: 200px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

/* ===VIDEO=== */
.video {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.video img {
  width: 100%;
  max-width: 900px;
  height: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #333333 0px 0px 0px 3px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #333333 0px 0px 0px 3px;
}

.video .video-text {
  text-align: center;
}

.video .video-text .video-sub-title {
  font-size: 1.5rem;
}

.video .video-text .video-title {
  font-size: 3rem;
}

/* ===SHOWCASE=== */
/* =================
   showcase partials
   ================= */
/* ===DOWNLOAD=== */
.download {
  padding-top: 20px;
}

.download a {
  text-decoration: none;
}

.download .cta-dl {
  border: 2px solid #2b3838;
  border-radius: 15px;
  padding: 0.3em 0.6em;
  cursor: pointer;
  color: #2b3838;
  margin: 20px auto;
  text-align: center;
  width: 200px;
}

.download .cta-dl:hover {
  background-color: #2b3838;
  color: #ffd24e;
  border-color: #ffd24e;
}

/* ===FOOTER=== */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1rem;
  position: relative;
  text-align: center;
}

/* ===MEDIA-QUERY=== */
label,
#hamburger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 860px) {
  nav {
    background-color: #142141 !important;
    color: #ffd24e;
  }
  nav label {
    display: inline-block;
    font-style: normal;
    font-size: 2rem;
    padding: 0.5rem;
    padding-left: 1rem;
  }
  nav .brand {
    display: none;
  }
  nav .nav-lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: #142141;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-transform: uppercase;
    height: auto;
    padding: 0 1em;
  }
  nav .nav-lists .nav-items {
    display: none;
  }
  nav .nav-lists .nav-items a {
    color: #ffd24e;
    margin: 10px 0;
  }
  nav:hover {
    background-color: #142141 !important;
  }
  #hamburger:checked ~ ul.nav-lists li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .video-title {
    font-size: 2.3rem !important;
  }
  .hero .hero-content .dog {
    position: relative;
    width: 50px;
  }
}
/*# sourceMappingURL=style.css.map */