@import "reset";
@import "variables";
@import "grid-layout";
@import "animations";
@import "showcase";

@mixin flexbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@mixin cta {
	border: 2px solid $primary-color;
	border-radius: 15px;
	padding: 0.3em 0.6em;
	// transition: all 0.3s linear;
	cursor: pointer;
}

/* SASS DIRECTORY
	1. =NAV
	2. =HERO
	3. =VIDEO
	4. =SHOWCASE
	5. =DOWNLOAD
	6. =FOOTER
*/

/* ===NAV=== */
nav {
	@include flexbox();
	color: $primary-color;
	background: $secondary-color;
	position: sticky;
	top: 0;
	z-index: 2;

	.brand {
		margin-left: 20px;
		cursor: pointer;
	}
	.nav-lists {
		@include flexbox();
		list-style: none;
		width: 500px;
		margin-left: 49px; //mata
		.nav-items {
			a {
				color: $primary-color;
				text-decoration: none;
				font-weight: map-get($font-weights, regular);
				position: relative;
			}
		}
	}
	.account {
		@include flexbox();
		margin-right: 20px;
		width: 150px;
		.log-in {
			cursor: pointer;
			position: relative;
		}
		.sign-up {
			@include cta();
			&:hover {
				background-color: $secondary-color;
				color: $primary-color;
			}
		}
	}
	//nav:hover
	&:hover {
		background-color: $primary-color;
		color: $secondary-color;
		.nav-items a {
			color: $secondary-color;
		}
		.sign-up {
			border-color: $secondary-color;
		}
	}
}

/* ===HERO=== */
.hero {
	display: grid;
	place-items: center;
	color: $primary-color;
	.hero-content {
		text-align: center;
		max-width: 900px;

		.hero-title {
			margin: 20px;
			font-size: 3rem;
		}
		.hero-sub-title {
			margin: 20px;
			font-size: 2rem;
			font-weight: map-get($font-weights, medium);
		}
		.cta {
			margin: 20px;
			a {
				color: $primary-color;
			}
		}
	}
}

/* ===VIDEO=== */
.video {
	display: grid;
	place-items: center;
	video {
		width: 100%;
		max-width: 900px;
		height: auto;
	}
	.video-text {
		padding: 1rem 0;
		text-align: center;

		.video-sub-title {
			font-size: 1.5rem;
		}
		.video-title {
			font-size: 3rem;
		}
	}
}

/* ===SHOWCASE=== */
/* =================
   showcase partials
   ================= */

/* ===DOWNLOAD=== */
.download {
	.cta-dl {
		@include cta();
		color: $primary-color;
		margin: 20px auto;
		text-align: center;
		width: 200px;
		&:hover {
			background-color: $primary-color;
			color: $secondary-color;
			border-color: $secondary-color;
		}
	}
}

/* ===FOOTER=== */
footer {
	text-align: center;
}

//hapu mobile
/* Sembunyikan hamburger icon */

label,
#hamburger {
	display: none;
}
@media screen and (max-width: 810px) {
	nav {
		background-color: rebeccapurple;
		label {
			display: inline-block;
			color: white;
			font-style: normal;
			font-size: 2rem;
			padding: 0.5rem;
			padding-left: 1rem;
		}
		.brand {
			display: none;
		}

		.nav-lists {
			flex-direction: column;
			margin-left: 0;
			// justify-content: flex-start;

			width: 100%;
			position: absolute;
			top: 60px;
			left: 0;
			background-color: rebeccapurple;

			//other
			align-items: flex-start;
			text-transform: uppercase;
			height: auto;
			padding: 0 1em;

			.nav-items {
				display: none;
				a {
					color: bisque;
				}
			}
		}
		&:hover {
			background-color: rebeccapurple;
		}
	}

	#hamburger:checked ~ ul.nav-lists li {
		display: flex;
		// color: aqua;
		// background-color: bisque;
	}
}
